@{
}
<div class="row" style="text-align:center;">
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/clientes.png" width="200" height="200" />
        </div>
        <label>Cadastro de Clientes</label>
    </div>
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/vendedores.png" width="200" height="200" />
        </div>
        <label>Cadastro de Vendedores</label>
    </div>
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/produtos.png" width="200" height="200" />
        </div>
        <label>Cadastro de Produtos</label>
    </div>
</div>
<div class="row" style="text-align:center;">
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/vendas.png" width="200" height="200" />
        </div>
        <label>Registro de Vendas</label>
    </div>
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/relatorios.png" width="200" height="200" />
        </div>
        <label>Relatórios</label>
    </div>
    <div class="col-lg-3" >
        <div class="row">
            <img src="~/images/configuracoes.png" width="200" height="200" />
        </div>
        <label>Configurações</label>
    </div>
</div>

